.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #F5F5F5;
}

.main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1040px;
	margin: 0px auto;
	padding: 0px 10px;
}

.appointment{
	background: #5D62B5 url('../img/appointment-bg.jpg') center / cover no-repeat;
}

.appointment__container {
	padding: 132px 0px 210px;
	position: relative;
}

.appointment__container::before {
	content: " ";
	position: absolute;
	top: 235px;
	left: -111px;
	background: url('../img/circles.png') 0 0 no-repeat;
	display: block;
	width: 32.84%;
	height: 567px;
	z-index: 1;
}

.appointment__container::after {
	content: " ";
	position: absolute;
	top: -10px;
	left: -20%;
	background: url('../img/blob.png') 0 0 no-repeat;
	display: block;
	width: 87.65%;
	height: 934px;
	z-index: 2;
}

.appointment__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0px -10px;
}

.appointment__item {
	padding: 0px 10px;
}

.appointment__item_center {
	align-self: center;
	text-align: center;
	align-items: center;
	color: #FFFFFF;
	font-weight: 900;
	max-width: 324px;
	padding: 166px 0px 194px;
}

.appointment__title:not(:last-child) {
	margin: 0px 0px 46px 0px;
}

.appointment__title {
	font-size: 30px;
	line-height: 1.2;
}

.appointment__sub-title:not(:last-child) {
	margin: 0px 0px 46px 0px;
}

.appointment__sub-title {
	font-size: 96px;
	line-height: 0.58;
}

.appointment__text {
	font-size: 19px;
	line-height: 1.37;
}

.form-appointment {
	background: #5D62B5;
	border-radius: 40px;
	padding: 76px 56px;
	max-width: 587px;
	box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
	position: relative;
	z-index: 5;
}

.form-appointment__header {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.17;
	color: #FFFFFF;
	margin: 0px 0px 43px 0px;
	text-align: center;
}

.form-appointment__items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 22.44px;
	column-gap: 22.44px ;
	justify-content: center;
	max-width: 471px;
}

.form-appointment__item {
	flex: 0 1 224px;
}

.form-appointment__input, .form-appointment__select {
	padding: 16px 23.58px;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #FFFFFF;
	background: #5D62B5;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	width: 224px;
	height: 48px;
	align-items: center;
	opacity: 0.8;
}

.form-appointment__input::placeholder{
	color: #FFFFFF;
	transition: all 0.3s ease 0s;
	
}

.form-appointment__input:focus::placeholder {
	transform: translateY(-100%);
	opacity: 0;
}

.form-appointment__input:focus, .form-appointment__textarea:focus {
	outline: 1px solid #fff;
}

.form-appointment__label {}

.form-appointment__select {
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	flex: 0 0 224px;
	min-width: 224px;
}

.form-appointment__textarea {
	resize: vertical;
	max-width: 100%;
	height: 180px;
	flex: 0 0 470px;
	border-radius: 10px;
	padding: 17px 24px;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #FFFFFF;
	background: #5D62B5;
	border: 2px solid #FFFFFF;
	width: 224px;
	opacity: 0.8;
	font-weight: 400;
}

.form-appointment__textarea::placeholder {
	color: #FFFFFF;
	transition: all 0.3s ease 0s;
}

.form-appointment__textarea:focus::placeholder {
	transform: translatex(-100%);
	opacity: 0;
}

.form-appointment__buttom {
	margin: 0 0 0 auto;
}

.button {
	text-transform: uppercase;
	background: #F2726F;
	border-radius: 8px;
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.15px;
	color: #FFFFFF;
	padding: 18px 33px;
	max-height: 48px;
	display: flex;
}

/* shopping-cart */

.shopping-cart {
	font-family: 'Poppins', sans-serif;
	margin: 0px  auto;
	margin-bottom: 50px;
}

.summary-form {
	max-width: 446px;
	background:#F5F7FF;
	padding: 17.51px 30px 24px;
}

.form-summary__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.5;
	color: #000000;
	font-family: 'Poppins', sans-serif;
}

.form-summary__title:not(:last-child) {
	margin: 0px 0px 19px 0px;
}

.form-summary__sub-title {
	font-size: 18px;
	line-height: 1.5;
	color: #000000;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

.form-summary__description {
	font-size: 14px;
	line-height: 1.5;
	color: #666666;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	max-width: 287px;
}

.form-summary_sub-title:not(:last-child),
.form-summary__description:not(:last-child) {
	margin: 0px 0px 12.43px 0px;
}

.form-summary__form {}

.form__country {
	margin: 0px 0px 13px 0px;
}

.form__label {
	display: block;
	font-weight: 600;
	font-size: 13px;
	line-height: 2.1;
	color: #000000;
}

.form__select {
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #A2A6B0;
	border-radius: 4px;
	height: 50px;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	padding: 0px 17px;
}

.form__state-province:not(:last-child) {
	margin: 0px 0px 13px 0px;
}

.form__label {}

.form__input {
	display: block;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #A2A6B0;
	border-radius: 4px;
	height: 50px;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	padding: 0px 17px;
}

.form__zip-postal-code:not(:last-child) {
	margin: 0px 0px 30px 0px;
}

.form__radiobuttons {
	margin: 0px 0px 33px 0px;
}

.radiobuttons-form {}

.radiobuttons-form__title {
	font-weight: 600;
	font-size: 13px;
	line-height: 2.1;
	color: #000000;
}

.radiobuttons-form__title:not(:last-child) {
	margin: 0px 0px 14px 0px;
}

.radiobuttons-form__item {
	position: relative;
}

.radiobuttons-form__item:not(:last-child) {
	margin: 0px 0px 18px 0px;
}

.radiobuttons-form__input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.radiobuttons-form__input:focus + .radiobuttons-form__label {
	
}

.radiobuttons-form__input:focus + .radiobuttons-form__label::before {
	box-shadow: 0px 2px 10px rgba(17, 14, 171, 0.8)
}

.radiobuttons-form__input:focus + .radiobuttons-form__label::after {
	transform: scale(1);
}

.radiobuttons-form__label {
	display: flex;
	cursor: pointer;
	align-items: center;
	column-gap: 8px;
	position: relative;
	font-size: 14px;
	line-height: 1.43;
	color: #000000;
}

.radiobuttons-form__label::before {
	content: "";
	flex: 0 0 21px;
	height: 21px;
	border: 2px solid #0156FF;
	border-radius: 50%;
	align-self: flex-start;
	background: #fff;
	cursor: pointer;
}

.radiobuttons-form__label::after {
	content: "";
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #0156FF;
	cursor: pointer;
	position: absolute;
	top: 4px;
	left: 4px;
	transform: scale(0);
	transition: all 0.3s ease 0s;
}

.discount-form__title {
	font-size: 18px;
	line-height: 1.5;
	color: #000000;
}

.discount-form__title:not(:last-child) {
	margin: 0px 0px 20px 0px;
}

.form__input::placeholder {
	color: #A2A6B0;
}

.form__button {
	background: #F5F7FF;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.5;
	color: #0156FF;
	padding: 15px;
	border: 2px solid #0156FF;
	border-radius: 50px;
	width: 100%;
}

.discount-form__block {
	margin: 0px 0px 19px 0px;
}

/* customer-login */

.customer-login {
	margin-bottom: 50px;
}

.customer-login__form {
	max-width: 564px;
	background: #F5F7FF;
	padding: 0px 57.5px;
}

.form-customer-login {
	padding-top: 37px;
	padding: 41px;
}

.form-customer-login__title {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.5;
	color: #000000;
}

.form-customer-login__title:not(:last-child) {
	margin: 0px 0px 28px 0px;
}

.form-customer-login__sub-title {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 2.14;
	color: #000000;
}

.form-customer-login__sub-title:not(:last-child) {
	margin: 0px 0px 17px 0px;
}

.form-customer-login__item {
	margin: 0px 0px 20px 0px;
}

.form__label {}

.form__label_marked::after {
	content: " *";
	color: #C94D3F;
	padding-right: 4px;
}

.form__input {}

.form__button_color { 
	color: #FFFFFF;
	width: 151px;
	background: #0156FF;
}

.form__button_margin {
	margin-right: 23px;
	margin: 0px 23px 23px 0px;
}

.link {
	font-size: 14px;
	line-height: 1.43;
	color: #0156FF;
}

.form-customer-login__buttons {
	margin-bottom: 40px;
}

/* shipping-address */

.shipping-address {
	font-weight: 600;
	font-size: 13px;
	line-height: 2.1;
	color: #000000;
}

.title-address-shipping {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.5;
	color: #000000;
	position: relative;
}

.title-address-shipping::after {
	content: "";
	display: block;
	border: 1px solid #CACDD8;
	background: #CACDD8;
	position: absolute;
	top: 32px;
	left: 0;
	height: 1px;
	width: 100%;
}

.shipping-address__title:not(:last-child) {
	margin: 0px 0px 39px 0px;
}


.shipping-address__item {
	display: flex;
	flex-wrap: wrap;
	max-width: 565px;
	position: relative;
}

.shipping-address__item:not(:last-child) {
	margin: 0px 0px 12px 0px;
}

.shipping-address__label {
	font-weight: 600;
	font-size: 13px;
	line-height: 2.1;
	color: #000000;
}

.shipping-address__label::after {
	content: " *";
	color: #C94D3F;
}

.shipping-address__label:not(:last-child) {
	margin: 0px 0px 5px 0px;
}

.shipping-address__input {
	border: 1px solid #A2A6B0;
	border-radius: 4px;
	height: 50px;
	width: 100%;
	padding: 0px 17px;
	font-size: 14px;
	line-height: 1.43;
	color: #000000;
}

.shipping-address__sub-title {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 2.1;
	color: #666666;
}

.shipping-address__sub-title:not(:last-child) {
	margin: 0px 0px 41px 0px;
}

.shipping-address__sub-title::after {
	content: "";
	display: block;
	border: 1px solid #CACDD8;
	position: absolute;
	top: 131px;
	left: 0;
	height: 1px;
	width: 100%;
	background: #CACDD8;
}

.shipping-address__item_margin  input:not(:last-child) {
	margin: 0px 0px 11px 0px;
}

.shipping-address__label {}

.shipping-address__select {
	width: 100%;
	border: 1px solid #A2A6B0;
	border-radius: 4px;
	height: 50px;
	width: 100%;
	padding: 0px 17px;
	font-size: 14px;
	line-height: 1.43;
	color: #000000;
}

.shipping-address__placeholder {
	position: absolute;
	left: 17px;
	top: 47px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.43;
	color: #000000;
	transition: all 0.3s ease 0s;
}

.shipping-address__placeholder:hover {
	opacity: 0;
}


.radiobuttons-form_line {
	position: relative;
	margin-top: 38px;
}

.radiobuttons-form_line::before {
	content: "";
	display: block;
	border: 1px solid #CACDD8;
	background: #CACDD8;
	position: absolute;
	top: -9px;
	left: 0;
	height: 1px;
	width: 100%;
}

.shipping-address__form_margin {
	margin-bottom: 40px;
} 

.radiobuttons-form__label_font {
	font-weight: 400;
}

.radiobuttons-form_margin-bottom {
	margin-bottom: 40px;
}

.form__button_bottom-width {
	min-width: 210px;
}